* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(231, 233, 234);
}

body {
    background-color: rgb(0,0,0);
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.floating-icon{
    width: 60px;
    height: 60px;
    background-color: rgb(29, 155, 230);
    display: flex;
    border-radius: 50%;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 5px 0 #97cef3;
    position: fixed;
    right: 26px;
    bottom: 60px;
    visibility: hidden;
    z-index: 10000;   
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
}

/* LEFT SIDE BAR STYLING */
.sidebar-left {
    display: flex;
    width: 150px;
    height: 100%;
    padding-right: 250px;
    /* padding-left: 100px; */
}

.sidebar-left a{
    text-decoration: none;
}

.left-main-content {
    padding: 0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-wrapper{
    height: 100%;
}

.sidebar-container{
    height: 100%;
    top: 0;
    /* position: fixed; */
}

.main{
    /* overflow-y: auto; */
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
}

.one{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.one a{
    padding: 1px 0;
}

.twitter-logo{
    display: flex;
    padding: 2px 0;
}

.twitter-logo h1{
    display: flex;
    min-width: 30px;
    cursor: pointer;
    align-items: center;
}

.twitter-link{
    min-width: 52px;
    min-height: 52px;
    border: 1px solid #000000;
}

.logo{
    padding: 9px 9px;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
}

.logo:hover{
    background-color:#324758
}

.logo img{
    width: 30px;
    height: 30px;
    filter: invert(89%) sepia(11%) saturate(28%) hue-rotate(155deg) brightness(104%) contrast(92%);
}

.options{
    margin-top: 2px;
    margin-bottom: 4px;
}

.navigations{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.options-container{
    padding: 12px 10px;
    border-radius: 999px;
    display: flex;
}

.options-container:hover{
    background-color: #1b1b1b;
}

.options-logo{
    width: 24px;
    height: 24px;
    filter: invert(89%) sepia(11%) saturate(28%) hue-rotate(155deg) brightness(104%) contrast(92%);
}

.logo-text span{
    margin-right: 16px;
    margin-left: 20px;
    line-height: 24px;
    font-size: 20px;
    color: #e7e9ea;
    display: inline;
}

.verified-20 {
    width: 20px !important;
    height: 20px !important;
}

.tweet{
    display: flex;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative;
}

.tweet-link{
    display: flex;
    min-width: 52px;
    min-height: 52px;
    width: 220px;
    background-color: rgb(29, 155, 230);
    color: #e7e9ea;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:0 5px;
    font-size: 20px;
    padding: 15px;
    border-radius: 999px;
}

.tweet-logo{
    width: 25px;
    height: 25px;
    filter: invert(89%) sepia(11%) saturate(28%) hue-rotate(155deg) brightness(104%) contrast(92%);
    display: none;
}

.tweet-link:hover{
    background-color: rgb(10, 123, 189);
}

.two{
    margin-bottom: 12px;
}

.profile-link{
    width: 100%;
    max-width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 10px;
    border-radius: 999px;
    font-size: 15px;
    color: #e7e9ea;
}

.profile-link:hover{
    background-color: #1d1c1c;
}

.profile-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-img{
    border-radius: 999px;
    height: 40px;
    width: 40px;
    margin-right: 10px;

}

.profile-names-img {
    display: flex;
}

.profile-names .name{
    font-weight: bold;
    line-height: 1;
}

.profile-info .username{
    color: #6e767d;
}

.profile-logo{
    width: 16px;
    height: 16px;
    margin-top: 2px;
    filter: invert(89%) sepia(11%) saturate(28%) hue-rotate(155deg) brightness(104%) contrast(92%);
}
/* LEFT SIDE BAR STYLING ENDS HERE */

/* POP UP MENU STYLING */
.popup-menu-container{
    position: fixed;
    top: 1px;
    left: 43px;
    right: 0px;
    background-color: #000000;
    box-shadow: 0px 4px 8px 0px rgba(110, 109, 109, 0.548);
    width: 223px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10000;
    display: none;
}

.popup-menu-container.active{
    display: block;
}


.popup-item{
    padding: 14.7px 9.1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.popup-item:hover{
    background-color: #15181c;
}

.popup-container{
    display: flex;
}

.popup-logo{
    width: 20px;
    height: 20px;
    filter: invert(89%) sepia(11%) saturate(28%) hue-rotate(155deg) brightness(104%) contrast(92%);
}

.popup-text span{
    margin-right: 16px;
    margin-left: 20px;
    /* line-height: 24px; */
    font-size: 14px;
    color: #e7e9ea;
    display: inline;
}

.overlay{
    position: absolute;
    inset: 0;
    /* background: transparent; */
    display: none;
    z-index: 10;
}

.overlay.active{
    display: block;
}
/* POP UP MENU ENDS HERE */

/* BOTTOM NAVIGATIOMS STYLING STARTS HERE */
.nav{
    display: flex;
    position: fixed;
    bottom: 0;
    visibility: hidden;
    width: 100%;
    background-color: #000000;
    border-top:1px solid #373838;
    /* box-shadow: 0 3px 3px rgb(113, 118, 123); */
    height: 50px;
    z-index: 1000;
    overflow-x: 0;
    justify-content: space-between;
}

.nav-link{
    display: flex;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
}

.bottom-logo{
    width: 27px;
    height: 27px;
    filter: invert(89%) sepia(11%) saturate(28%) hue-rotate(155deg) brightness(104%) contrast(92%);
}
/* BOTTOM NAVIGATIONS STYLING ENDS HERE */

/* TIMELINE (MIDDLE) STYLING */
.mine {
    display: flex;
    justify-content: center;
}
  
.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.mine2 {
    border-radius: 30px;
    padding: 2px;
    height: 50px;
    background-color: rgb(29, 27, 27);
    width: 500px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(26, 24, 24);
}
  
.mine2 i {
    /* font-size: 35px; */
    padding-right: 3px;
    padding-top: 3px
}
    
.search > i {
    font-size: 14px;
    color: rgb(132, 132, 132);
    padding: 16px;
}
  
input.search {
    width: 400px;
    border: none;
    outline: none; 
    background-color: rgb(29, 27, 27);
    border-color: rgba(0, 0, 0, 0);
}
  
input.search::placeholder {
    font-size: 13px;
    width: 500px;
    /* font-weight: bolder; */
}

.gallery {
    margin: 5px;
    /* width: 100%; */
    overflow: hidden;
    cursor: pointer;
}
   
.gallery img {
    width: 598px;
    height: 336px;
    padding: 12px 16px;
}
  
.main-content {
    display: flex;
    width: 650px;
    justify-content: space-between;
    height: 100%;
}

.feed-content {
    width: 100%;
    max-width: 600px;
    border-right: 1px solid rgb(47, 51, 54);
    border-left: 1px solid rgb(47, 51, 54);
    height: 100%;
}

.tweets {
    display: flex;
    font-size: 15px;
    width: 100%;
    border-bottom: 1px solid rgb(47, 51, 54);
    margin-bottom: 2px;
    padding: 10px 15px;
}

.tweets:hover {
    background-color: #070707;
    cursor: pointer;
}

.tweets a {
    color: rgb(29, 155, 240);
    text-decoration: none;
}

.tweets a:hover {
   text-decoration: underline;
}

.tweets .tweet-profile-img img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
}

.tweet-user-info .tweet-user-header {
    display: flex;
    cursor: pointer;
}

.tweet-user-info {
    width: 100%;
}

.gray-text {
    color: rgb(113, 118, 123) !important;
}

/* USER INFO POP STARTS HERE */
.user-popup-info {
    position: absolute;
    background-color: #000000;
    left: 17%;
    width: 305px;
    min-height: 200px;
    border-radius: 16px;
    padding: 15px;
    display: none;
    box-shadow: 0 -3px 10px #b19d9d;
}

.show-user-info.active .user-popup-info, .show-user-info:hover .user-popup-info {
    display: block;
}

.popup-head-segment {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.popup-head-segment img {    
    width: 64px !important;
    height: 64px !important;
    border-radius: 50px !important;
    margin-right: 10px !important;
}

a.popup-follow-button {    
    background-color:rgb(231, 233, 234);
    border-radius: 30px;
    padding: 5px 17px;
    height: 30px;
    text-decoration: none;
    color:rgb(42, 44, 46);
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

a.popup-follow-button:hover { 
    text-decoration: none;
    background-color: rgb(206 206 206);
}

.popup-name-segment {    
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.popup-full-name {
    display: flex;
    gap: 3px;
}

.popup-full-name a {
    font-weight: bolder;
    font-weight: 15px;
    color:rgb(231, 233, 234);
}

.popup-full-name a:hover {
    text-decoration: underline;
}

.popup-full-name img { 
    height: 20px;
    width: 20px;
    filter: invert(84%) sepia(6%) saturate(93%) hue-rotate(161deg) brightness(106%) contrast(85%);
}

.popup-username {    
    margin-bottom: 10px;
    color: rgb(113, 118, 123);
    font-size: 15px;
    font-weight: 400;
}

.popup-bio-segment {    
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 17px;
}

.popup-follow-count-segment {    
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    font-size: 13px;
}

.popup-follow-count-segment a {
    color: #ffffff;
}

.popup-follow-count-segment a:hover {
    text-decoration: underline;
}

.popup-following-count {  
    display: flex;
    font-weight: 400;
    gap: 7px;
}

.popup-follow-count {    
    display: flex;
    font-weight: 400;
    gap: 7px;
}

.popup-other-followers {    
    display: flex;
    font-size: 13px;
    font-weight: 400;
    gap: 10px;
    color: #d7dbdc;
}

.popup-other-followers img {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50px;
}
/* USER INFO POP ENDS HERE */
 
.user-profile-name {
    font-size: 15px;
    font-weight: 700;
    color: rgb(231, 233, 234);
    margin-right: 5px;
}

.user-profile-name:hover {
    text-decoration: underline;
}

.tweet-username {
    color: rgb(113, 118, 123);
    font-size: 15px;
    font-weight: 400;
}

.username-icon-img {
    width: 24px;
    height: 24px;
    margin-left: -2px;
    margin-right: 2px;
    color: rgb(255, 255, 255);
}

.tweet-time {
    margin-left: 5px;
    color: rgb(113, 118, 123);
    font-size: 15px;
    font-weight: 400;
    font-family: inherit;
    line-height: 20px;
}

.verified {
    width: 23.75px;
    height: 18.75px;
    margin-left: -3px;
    margin-top: -2px;
    filter: invert(100%) sepia(1%) saturate(5635%) hue-rotate(172deg) brightness(96%) contrast(79%);
}

.tweet-content, .tweet-content p {
    font-size: 15px;
    font-family: inherit;
    font-weight: 400;
    color: rgb(231, 233, 234);
    line-height: 20px;
}

.engaged-tweets {
    display: block;
}

.engaged-tweet {
    display: block;
}

.engaged-tweet-info {
    display: flex;
    flex-direction: row;
}

.engaged-tweet-info-content {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    margin-bottom: -8px;
    width: 100%;
}

.engaged-tweet-info-content-img {
    flex-basis: 48px;
    text-align: center;
    margin-left: 30px;
}

.engaged-tweet-info-content-img img{
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
    filter: invert(51%) sepia(9%) saturate(251%) hue-rotate(169deg) brightness(87%) contrast(86%);
}

.engaged-tweet-text {
    display: flex;
    justify-content:left;
    align-items: flex-start;
    color: rgb(113, 118, 123);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    margin-bottom: 4px;
}

.tweet-content img {
    border-radius: 15px;
    margin: 10px 0;
}

.tweet-image {
    width: 100%;
}

p.hashtags, span {
    color: rgb(29, 155, 240);
}

.tweet-video {
    width: 100%;
    height: 100%; 
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 16px;
}

.tweet-video-info {
    margin-top: 12px;
    gap: 4px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%; 
    /* padding-bottom: 100%; */
}

.video {
    width: 100%;
    height: 90%;
    /* position: absolute; */
    border-radius: 16px;
    object-fit: contain;
    transform: rotate(0deg) scale(1.005);
}

.ellipsis-text {
    display: flex;
}

.ellipsis-text span {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 2px;
}

.tweet-footer {
    display: flex;
    flex-direction: column;
    position: relative; 
    align-items: stretch;
    font-size: 15px;
}

.tweet-footer-stats {
    column-gap: 8px;
    margin-top: 12px;
    max-width: 425px;
    justify-content: space-between;
    display: flex;
}

.tweetfooter-stat {
    display: flex;  
    align-items: center;
}

.tweet-footer-icon {
    padding: 8px;
    border-radius: 50%;
}

.tweet-footer-icon img {
    width: 23.75px;
    height: 18.75px;
    filter: invert(51%) sepia(9%) saturate(251%) hue-rotate(169deg) brightness(87%) contrast(86%);
}

.tweetfooter-stat.svg-red:hover .tweet-footer-icon img {
    filter: invert(22%) sepia(95%) saturate(3571%) hue-rotate(319deg) brightness(97%) contrast(101%);
}

.tweetfooter-stat.svg-blue:hover .tweet-footer-icon img {
    filter: invert(54%) sepia(25%) saturate(1552%) hue-rotate(162deg) brightness(95%) contrast(99%);
}

.tweetfooter-stat.svg-green:hover .tweet-footer-icon img {
    filter: invert(49%) sepia(23%) saturate(4837%) hue-rotate(128deg) brightness(97%) contrast(101%);
}

.tweetfooter-stat.svg-red:hover .tweet-footer-label {
    color: #f91880;
}

.tweetfooter-stat.svg-blue:hover .tweet-footer-label {
    color: #1D9BF0;
}

.tweetfooter-stat.svg-green:hover .tweet-footer-label {
    color: #00ba7c;
}

.tweetfooter-stat.svg-red:hover .tweet-footer-icon {
    background-color: rgba(249, 24, 128, 0.1);
}

.tweetfooter-stat.svg-blue:hover .tweet-footer-icon {
    background-color: rgba(29, 155, 240, 0.1);
}

.tweetfooter-stat.svg-green:hover .tweet-footer-icon {
    background-color: rgba(0, 186, 124, 0.1);
}

.tweet-footer-label {
    font-size: 13px;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    min-width: 37px;
    padding: 0 12px 0 3px;
}
/* TIMELINE (MIDDLE) STYLING ENDS HERE*/

/* RIGHT SIDE BAR STYLING */
.sidebar-right {
    display: flex;
    width: 350px;
    height: 100%;
}

.right-main-content{
    height: 100%;
    position:fixed;
    overflow-y: auto;
    padding-bottom: 120px;
}
.upper-div {
    background-color: rgb(32, 35, 39);
    font-size: 15px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 9999px;
    cursor: text;
    -moz-box-align: stretch;
    align-items: stretch;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    -moz-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    border: 0px solid black;
    margin-bottom: 15px;
}

.boss {
    color: rgb(231, 233, 234);
    font-weight: 400;
    white-space: pre-wrap;
    line-height: 20px;
    overflow-wrap: break-word;
  }

.lower-div {
    color: #ffffff;
    border-color: rgb(22, 24, 28);
    margin-bottom: 16px;
    border-width: 1px;
    border-style: solid;
    padding: 15px 15px 20px 15px;
} 

.trends {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
}

.housing{
    /* outline-style: none;
    display: block; */
    -moz-box-align: stretch;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    align-items: stretch;
    border: 0px solid black;
    display: flex;
    /* flex-basis: auto; */
    /* flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px; */
    position: relative;
    z-index: 0;
}
 
.housing:hover{
    background-color:rgb(10, 11, 11);
}

.what {
    width:500px;
}

.where{
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.dotted a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}

.trends-logo{
    width: 18px;
    height: 18px;
    filter: invert(51%) sepia(9%) saturate(251%) hue-rotate(169deg) brightness(87%) contrast(86%);
}

.trends-logo:hover{
    filter: invert(54%) sepia(25%) saturate(1552%) hue-rotate(162deg) brightness(95%) contrast(99%);
}

.dotted a:hover{
    background-color: #27a0f038;
}

.number {
    font-size: 13px;
    color:rgb(113, 118, 123);
}

.jeez {
    font-size: 13px;
    color:rgb(113, 118, 123);
}
 
.house {
    display: flex;
    flex-direction: row;
}
  
.cut{
    width: 450px;
}

.s-m{
    color: blue;
    text-decoration: none;
}

.show-more{
    padding: 15px 15px 20px 15px;
    -moz-box-align: stretch;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    align-items: stretch;
    border: 0px solid black;
    z-index: 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.show-more:hover{
    background-color:rgb(42, 44, 46);
}
   
.happening {
    padding-top: 12px;
    padding-bottom: 12px;
}

.citizen {
    display: flex;
    font-weight: 600;
    font-weight: 14px;
    margin-bottom: 5px;
    color:rgb(231, 233, 234);
    /* gap: 3px; */
}
  
/* TRENDS STYLING BEGINS HERE*/
.who-to-follow{
    background-color: rgb(22, 24, 28);
    border-radius: 16px;
    border: 1px solid rgb(22, 24, 28);
    margin-top: 20px;
    margin-bottom: 16px;
    width: 336px;
}

.wtf-cont{
    padding: 10px 15px;
    font-weight: 700;
}

.wtf{
    font-size: 20px;
    font-weight: 800; 
}

.wtf-sub-cont{
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(29, 30, 31);
    gap: 2px;
    cursor: pointer;
}

.wtf-sub-cont:last-child{
    border-bottom: none;
}

.show-more{
    padding: 15px 15px;
}

.show-more a{
    text-decoration: none;
    color: #1D9BF0;
}

.wtf-dp{
    width: 49px;
    height: 49px;
    border-radius: 50px;
    margin-right: 10px;
}

.wtf-bio{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wtf-username{
    display: flex;
    font-weight: bolder;
    font-weight: 15px;
    color:rgb(231, 233, 234);
    gap: 3px; 
    position: relative;
}

.wtf-username:hover{
    text-decoration: underline;
}

.wtf-handle{
    font-size: 15px;
    color:rgb(113, 118, 123);
    margin-bottom: 3px;
    position: relative;
}

.wtf-handle p{
    font-size: 15px;
    color:rgb(113, 118, 123);   
}

.wtf-promo{
    color:rgb(113, 118, 123);
}

.wtf-follow-button{
    /* border: 1px solid #1da0f2; */
    background-color:rgb(231, 233, 234);
    border-radius: 30px;
    padding: 5px 17px;
    height: 30px;
}

.wtf-follow-button a{
    text-decoration: none;
    color:rgb(42, 44, 46);
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.who-to-follow :hover{
    background-color:rgb(42, 44, 46);
} 

.wtf-sub-cont:hover .wtf-follow-button{
    background-color:#d7dbdc;
}

.who-to-follow .wtf-cont:hover{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:rgb(22, 24, 28);
}

.who-to-follow .show-more:hover{
    background-color:rgb(42, 44, 46);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}

.wtf:hover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:rgb(22, 24, 28); 
}

.ver-svg{ 
    height: 15px;
    width: 15px;
    filter: invert(51%) sepia(9%) saturate(251%) hue-rotate(169deg) brightness(87%) contrast(86%);
}
.veri-svg { 
    height: 20px;
    width: 20px;
    filter: invert(84%) sepia(6%) saturate(93%) hue-rotate(161deg) brightness(106%) contrast(85%);
}

.wtf-main-hidden{    
width: 300px;
background-color: #000000;
padding: 0 20px;
display: none;
position: absolute;
margin-top: 20px;
margin-left: -50px;
border-radius: 20px;
box-shadow: 0 -3px 10px #dad2d2;
z-index: 999;
}

.wtf-main-hidden-img{    
    width: 300px;
    background-color: #000000;
    padding: 0 20px;
    display: none;
    position: absolute;
    margin-top: 1px;
    margin-left: -10px;
    border-radius: 20px;
    box-shadow: 0 -3px 10px #dad2d2;
    z-index: 9;
    }
.wtf-username:hover .wtf-main-hidden{
    display: block;
}

.wtf-handle:hover .wtf-main-hidden{
    display: block;
}
.wtf-dph:hover .wtf-main-hidden-img{
    display: block;
}
.wtf-dp-hidden img{    
    width: 49px;
    height: 49px;
    border-radius: 50px;
    margin-right: 10px;
}
.wtf-dp-hidden{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.wtf-follow-button-hidden{    
    background-color:rgb(231, 233, 234);
    border-radius: 30px;
    padding: 5px 17px;
    height: 30px;
}

.wtf-follow-button-hidden a{
    text-decoration: none;
    color:rgb(42, 44, 46);
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.wtf-user-deets-hidden{    
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.wtf-username-hidden{    
    display: flex;
    font-weight: bolder;
    font-weight: 15px;
    color:rgb(231, 233, 234);
    gap: 3px; 
}

.wtf-username-hidden:hover{
    text-decoration: underline;
}

.wtf-username-hidden img { 
    height: 20px;
    width: 20px;
}

.wtf-handle-hidden{    
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 100;
}

.wtf-bio-hidden{    
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.wtf-follower-hidden{    
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.wtf-following-hidden{  
    display: flex;
    font-size: 12px;
    font-weight: 100;
    gap: 7px;
}
.wtf-follower-hidden :hover{
    text-decoration: underline;
}

.wtf-follow-hidden{    
    display: flex;
    font-size: 12px;
    font-weight: 100;
    gap: 7px;
}

.wtf-followed-hidden{    
    display: flex;
    font-size: 12px;
    font-weight: 100;
    gap: 10px;
    margin-bottom: 10px;
    color: #d7dbdc;
}

.wtf-followed-hidden img{
    width: 29px;
    height: 29px;
    border-radius: 50px;
}


.footer{
    margin-top: 15px;
    margin-left: 15px;
    width: 300px;
}

.footer a{
    text-decoration: none;
    font-size: 14px;
    color:rgb(113, 118, 123);
    padding-right: 5px;    
}

.footer p{
    font-size: 13px;
    color:rgb(113, 118, 123);
    margin-top: 3px;
}

.footer a:hover{
    text-decoration: underline;
}
/* RIGHT SIDE BAR STYLING ENDS HERE */

/* message styling begins here */
.msg-sub-header{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 15px 30px;
    cursor: pointer;
}

.msg-req{
    display: flex;
    gap: 10px;  
}

.msg-sub-header img{
    width: 20px;
    height: 20px;
    filter: invert(95%) sepia(8%) saturate(66%) hue-rotate(146deg) brightness(101%) contrast(94%);
}


.msg-main{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 400px;
}

.msg-collapsible{
    max-width: 450px;
    /* overflow: hidden; */
    font-weight: 500;
}

.msg-collapsible input{
    display: none;
}

.msg-collapsible label{
    position: relative;
    font-weight: 600;
    background-color: #000000;
    box-shadow: 0 -3px 10px #dad2d2;
    color: #ffffff;
    display: block;
    margin-bottom: 0px;
    cursor: pointer;
    padding: 20px 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 1;
    width: 336px;
    left: 15px;
}

.msg-collapsible label:after{
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    width: 18px;
    height: 18px;
    background: url(./svgicons/expand.svg) no-repeat 0 0;
    filter: invert(95%) sepia(8%) saturate(66%) hue-rotate(146deg) brightness(101%) contrast(94%);
    transition: all 0.2s ease;
}

.msg-collapsible input:checked + label:after{
    transform: rotate(180deg);
}

.message-collapsible{
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    bottom: -100%;
    opacity: 0.5;
    transition: all 0.2s ease;
}

.msg-collapsible input:checked ~ .message-collapsible{
    max-height: 400px;
    padding-bottom: 25px;
    background: #000000;
    box-shadow: 0 5px 11px 0 rgb(0,0,0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    overflow-y: scroll;
    left: 15px;
    width: 336px;
}

.msg-convo{
    display: flex;
    /* gap: 5px; */
    /* margin: 20px 0px; */
    padding: 15px 5px;
    cursor: pointer;
}

.message-collapsible :hover{
    background-color: #141414;
}

.msg-dp img{
    width: 49px;
    height: 49px;
    border-radius: 50px;
    margin-left: 10px;
}

.msg-deets{
    gap: 1px;
}

.msg-deets p{
    color: rgb(113, 118, 123);
}

.msg-name-slug{
    display: flex;
}

.msg-date{
    color: rgb(113, 118, 123);
} 

/* .msg-blue-dot styling */
.r-l5o3uw {
    background-color: rgb(29, 155, 240);
}
.r-k5y9r7 {
    height: 9px;
}
.r-1t7zxhp {
    width: 9px;
    border-radius: 50%;
}
/* message styling ends here */

/* MEDIA QUERIES */
@media screen and (max-width: 1295px) {
    /* .sidebar-left { */
        /* width: 88px; */
    /* } */
}

@media screen and (max-width:1281px){
    .sidebar-left{
        width: 88px;
    }

    .logo-text span{
        display: none;
    }

    .tweet-link{
        display: flex;
        width: 52px;
        min-width: 52px;
        min-height: 52px;
        border-radius: 60%;
        margin:0 2px 0 0;
        padding: 10px;
    }

    .tweet-logo{
        display: inline;
        justify-content: center;
        align-items: center;
    }

    .tweet-text{
        display: none;
    }

    .profile-names, .profile-logo{
        display: none;
    }
}

@media screen and (max-width: 1017px) {
    .sidebar-left {
        justify-content: flex-end;
        width: 233px;
    }

    .sidebar-right {
        display: none;
    }
}
@media screen and (max-width: 1002px) {

    .sidebar-right{
        display: none;
    }  
}

@media screen and (max-width: 768px) {
    .sidebar-left {
        width: 78px;
    }

    nav.navigations a {
        margin-top: -4px;
    }

    .main{
        width: 70px;
    }

    .main-content {
        width: 100%;
    }

    .sidebar-right {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    /* .sidebar-left {
        display: none;
    } */

    .feed-content {
        max-width: none;
    }

    .tweet-user-info {
        overflow: hidden;
    }

    .tweet-footer-stats {
        column-gap: 0;
    }
}

@media screen and (max-width: 499px) {
    .sidebar-left{
        display: none;
    }
    .nav{
        visibility: visible;
    }

    .floating-icon{
        visibility: visible;
    }
}


/* PROFILE CONTENT STARTS */
.profilee {
    width: 50%;
    position: relative;
    margin: 0 auto;
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    border-top: 1px solid rgb(47, 51, 54);
}

.my-profile {
    display: flex;
    /* align-items: center; */
    margin-left: 1rem;
    margin-top: 1.3rem;
}

.my-profile img {
    width: 3%;
    margin-right: 2.3rem;
    filter: invert(89%) sepia(11%) saturate(28%) hue-rotate(155deg) brightness(104%) contrast(92%);
}

#tick {
    width: 6%;
    margin-left: .4rem;
    filter: invert(89%) sepia(11%) saturate(28%) hue-rotate(155deg) brightness(104%) contrast(92%);
}

.my-profile h3, .verve h3 {
    font-size: 1.8rem;
    
}

.my-profile p, .profile-det p {
    font-size: .7rem;
    color:rgb(113, 118, 123);
}

.cover-photo {
    width: 100%;
    height: 220px;
    margin-top: .4rem;
    background-color: grey;
    background-image: url("./contentimages/coverpage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profilee-photo {
    position: absolute;
    top: 14%;
    left: 03%;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: grey;
    border: .2rem solid black ;
    background-image: url("./contentimages/teamthree.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.editt-btn {
    border: 1px solid whitesmoke;
    text-align: center;
    padding: .5rem .7rem ;
    float: right;
    text-decoration: none;
    width: 17%;
    border-radius: 7rem;
    margin: 1rem 1.5rem 0 0;
    transition: all 2s ease-in;
}
.editt-btn:hover {
    background-color:rgb(113, 118, 123) ;
}
.profile-det {
    padding-left: 1.5rem;
    margin-top: 6rem;
    width: 82%;
    /* background-color: palevioletred; */
   
}
.verve {
    display: flex;
}

.verve img {
    width: 14%;
}

#tickk {
    width: 4%;
    margin-left: .4rem;
    filter: invert(89%) sepia(11%) saturate(28%) hue-rotate(155deg) brightness(104%) contrast(92%);
}
.profile-abt {
    margin-top: 1.5rem;
}

.profile-abt h3 {
    font-size: .9rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
}

.datee {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    color:rgb(113, 118, 123);
    margin-top: 1rem;  
}

.datee img {
    width: 4%;
    margin-right: .4rem;
    filter: invert(89%) sepia(11%) saturate(28%) hue-rotate(155deg) brightness(104%) contrast(92%);
}

.datee h6 {
    font-weight: 100;
    color:rgb(113, 118, 123);
    margin-right: 1.3rem;
}

.profile-nav {
    width: 80%;
    margin: 2.3rem auto 0;  
}

.profile-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.profile-nav a {
    text-decoration: none;
    padding: 1rem;
    transition: all 0.3s ease-in;
    color: white;
    /* color:rgb(113, 118, 123); */
    position: relative;  
}

.profile-nav ul li a:hover {
    background-color: rgba(54, 143, 231, 0.2);
}

.profile-nav ul li a:active {
    color: whitesmoke;
}

.profile-nav ul li a::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 70%;
    background-color: rgb(61, 61, 237);
    padding: .1rem;
    border-radius: 5rem;
    transform: scale(0);
    transition: transform ease-in-out 150ms;
}

.profile-nav ul li a:hover:after{
    transform: scale(1);
}

#borderr{
    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    margin-top: 1rem;
}

@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 1) {
    .profilee {
        width: 100%;
    }
    .editt-btn {
        width: 32%;
    }
    #tickk {
        width: 6%;
    }
    .profile-det {
        width: 95%;
    }
    .profilee-photo {
        top: 16%;
    }
    .profile-nav {
        width: 90%;
        margin: 2.3rem auto 0;
    }
}

@media only screen  and (min-device-width: 768px)  and (max-device-width: 1024px) {
   
    #tickk {
        width: 8%;
        
    }
    .profile-nav {
        width: 100%;
        margin: 2.3rem auto 0;
    }
    .editt-btn {
        width: 33%;
    }
    
}
